beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
greenlet==3.0.1
idna==3.4
PyMySQL==1.1.0
requests==2.31.0
soupsieve==2.5
SQLAlchemy==2.0.23
typing_extensions==4.8.0
urllib3==2.1.0